body {
    align-items: flex-start;
}

.webCustomerMenu-container {
    width: 80%;
    margin: 20px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

#logoutButton {
    background-color: lightgray; /* 薄い灰色に変更 */
    margin-left: auto; /* 右寄せにする */
}

hr {
    margin: 20px 0;
}

.title-group {
    font-size: 1em; /* カラム名と同じ大きさにする */
    font-weight: bold; /* 太文字にする */
    margin-bottom: 20px;
    text-align: left; 
}

#book-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#book-table th {
    background-color: black;
    color: white; 
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#book-table td {
    background-color: lightgray; 
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}