<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>貸出予約確認画面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="×××市立図書館の貸出予約確認画面です。">
    <meta name="keywords" content="×××市立図書館, 貸出予約確認">
    <link rel="stylesheet" th:href="@{/css/common.css}" type="text/css"> 
    <link rel="stylesheet" th:href="@{/css/webCustomerReservationCheck.css}" type="text/css"> 
    <link rel="icon" href="data:,">
</head>

<body>
    <div class="webCustomerReservationCheck-container">
        <div class="header">
            <div class="user-info">
                <span id="user-id" th:text="'利用者ID：' + ${customerID}"></span>
                <span id="user-name" th:text="'利用者名：' + ${customerName}"></span>
                <a th:href="@{/webCustomerLogin}" id="logoutButton">ログアウト</a>
            </div>
        </div>
        <hr>
        <div class="title-group">
            <p>以下を貸出確定しますか？　<span class="warning-text"> ※まだ予約は完了していません※</span></p>
        </div>
        <form id="reservationForm" th:action="@{/webCustomerReservationCheck}" method="post">
            <table id="book-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>タイトル</th>
                        <th>著者</th>
                        <th>在庫数</th>
                        <th>貸出希望</th>
                    </tr>
                </thead>
                <tbody id="book-row-block"></tbody>
            </table>

            <div class="delivery-info">
                <div class="delivery-info-label">
                    <p>送付先情報</p>
                </div>
                <div class="delivery-info-details">
                    <p>郵便番号：<span th:text="${postalCode}"></span></p>
                    <p>住所：<span th:text="${address}"></span></p>
                    <p>メールアドレス：<span th:text="${email}"></span></p>
                </div>
            </div>
            <div class="spacer"></div>

            <div class="form-group">
                <button type="submit" id="webCustomerReservationConfirmButton">貸出予約確定</button>
                <a th:href="@{/webCustomerMenu}" id="webCustomerReservationEditButton">修正</a>
            </div>
        </form>
    </div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        const bookList = /*[[${bookRequestList != null ? bookRequestList : '[]'}]]*/[];
        /*]]>*/
    </script>
    <script type="module" th:src="@{/js/utils.js}"></script>
    <script type="module" th:src="@{/js/webCustomerReservationCheck.js}"></script>
</body>

</html>