<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>メニュー</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="×××市立図書館のメニュー画面です。">
    <meta name="keywords" content="×××市立図書館, メニュー">
    <link rel="stylesheet" href="@{/css/common.css}" type="text/css">
    <link rel="stylesheet" href="@{/css/webCustomerMenu.css}" type="text/css">
</head>

<body>
    <div class="webCustomerMenu-container" data-total-pages="0">
        <div class="header">
            <div class="user-info">
                <span id="user-id">利用者ID：</span>
                <span id="user-name">利用者名：</span>
            </div>
            <a href="logout.html" id="logoutButton">ログアウト</a>
        </div>
        <hr>
        <div class="title-group">
            <p>貸出希望の本を選択してください</p>
        </div>
        <table id="book-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>タイトル</th>
                    <th>著者</th>
                    <th>在庫数</th>
                    <th>貸出希望</th>
                </tr>
            </thead>
            <tbody>
                <template id="book-row-template">
                    <tr>
                        <td class="book-id"></td>
                        <td class="book-title"></td>
                        <td class="book-author"></td>
                        <td class="book-stock"></td>
                        <td class="book-action"></td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div class="pagination">
            <a href="#" id="prev-page">＜前</a>
            <span id="page-info"></span>
            <a href="#" id="next-page">次＞</a>
        </div>
        <div class="form-group">
            <button type="submit" id="webCustomerReservationCheckButton">貸出希望確認</button>
        </div>
    </div>
    <script type="module" src="@{/js/utils.js}"></script>
    <script type="module" src="@{/js/webCustomerMenu.js}"></script>
</body>

</html>